
<div [formGroup]="form">
  <mat-form-field *ngIf="field.type === 'text'" class="full-width">
    <input matInput [formControlName]="field.name" [placeholder]="field.placeholder ?? ''">
  </mat-form-field>
  
  <mat-form-field *ngIf="field.type === 'textarea'" class="full-width">
    <textarea matInput [formControlName]="field.name" [placeholder]="field.placeholder ?? ''"></textarea>
  </mat-form-field>

  <mat-form-field *ngIf="field.type === 'select'" class="full-width">
    <mat-select [formControlName]="field.name" [placeholder]="field.placeholder ?? ''">
      <mat-option *ngFor="let option of field.options" [value]="option.value">{{ option.label }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox *ngIf="field.type === 'checkbox'" [formControlName]="field.name" class="label">{{ field.label }}</mat-checkbox>

  <mat-radio-group *ngIf="field.type === 'radio'" [formControlName]="field.name">
    <mat-radio-button *ngFor="let option of field.options" [value]="option.value">{{ option.label }}</mat-radio-button>
  </mat-radio-group>

  <div *ngIf="!form.get(field.name)?.valid && form.get(field.name)?.touched">
    <small *ngFor="let validation of field.validations" class="text-danger">
      {{ validation.message }}
    </small>
  </div>
</div>
